* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: #f6f7f8;
}

.container-todo-list {
    display: flex;
    min-height: 100vh;
    align-items: center;
    justify-content: center;
}

.container-list {
    min-height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 20px;
    padding-top: 20px;
}

.list {
    width: auto;
    background-color: white;
    padding: 35px 30px;
    border-radius: 5px;
    box-shadow: 0 2px 16px 0 rgba(0, 0, 0, 0.1);
}

.list-content {
    width: 380px;
}

.icon-todo {
    width: 100%;
    height: auto;
    display: inline-block;
    margin-bottom: 25px;
}

.title {
    margin-bottom: 35px;
    font-size: 22px;
    font-weight: bold;
}

.title-list {
    display: none;
}

.form-list {
    width: 100%;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    background-color: #fff;
    border: none;
    border-bottom: 1px solid #ced4da;
    outline: none;
}

input::placeholder {
    color: #9ea3b2;
}

.btn-success {
    display: none;
}

.list-group {
    padding-top: 26px;
    padding-bottom: 51px;
}

.list-group-item {
    border: none;
    padding: 0;
}

.list-group-item:not(:last-child) {
    padding-bottom: 14px;
}


.list-group-item input[type="checkbox"] {
    margin-right: 10px;
}

.delete-button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    padding: 0;
    float: right;
}

.filter-list {
    display: flex;
    font-size: 14px;
    font-weight: 500;
}

.filter-description {
    margin: 0;
    padding-right: 17px;
    color: rgba(31, 42, 75, 0.59);
}

.active {
    color: #111111;
}

.not-active {
    color: #4a77e5;
    text-decoration: underline;

}

.filter-list button {
    border: none;
    background-color: transparent;
    height: auto;
}

.filter-button:not(:last-child) {
    margin-right: 10px;
}

@media screen and (max-width: 768px) {
    .list-content {
        width: 100%;
    }

    .filter-list {
        flex-wrap: wrap;
    }

    .container-list {
        padding-left: 30px;
        padding-right: 30px;
    }
}
